.rate_widget {
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('http://i.imgur.com/HMP4mpP.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('http://i.imgur.com/6safOQ0.png') no-repeat;
}
.ratings_over {
    background: url('http://i.imgur.com/2NLlWbv.png') no-repeat;
}
