.rate_widget {
    overflow:   visible;
    padding:    10px;
     /* position:   relative;
      width:      180px; */
    height:     12px;
}





.ratings_stars, .ratings_stars_static{
    background: url('../images/star_ratings.png')0 0px;
    float:      left;
    height:     12px;
    padding:    0px;
    width:      12px;
	margin:		0px;
}

.ratings_vote{
    background: url('../images/star_ratings.png') 0 12px;
}
.ratings_over {
    background: url('../images/star_ratings.png') 0 24px;
}

/*
.ratings_stars, .ratings_stars_static{
    background: url('../images/Star-rating.png')0 0px;
    float:      left;
    height:     18px;
    padding:    0px;
    width:      17px;
	margin:1px;
}

.ratings_vote{
    background: url('../images/Star-rating.png') 0 34px;
}
.ratings_over {
    background: url('../images/Star-rating.png') 0 17px;
}
*/
/*
.ratings_stars, .ratings_stars_static{
    background: url('../images/star.gif')0 0px;
    float:      left;
    height:     12px;
    padding:    2px;
    width:      12px;
}

.ratings_vote{
    background: url('../images/star.gif') 0 16px;
}
.ratings_over {
    background: url('../images/star.gif') 0 32px;
}
*/
div.total_votes{
margin: 0 2px 0 4px;	
}