@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
/******************/
/*      HEADER     */
div#header
{
	/*height: 50px;*/
	border-bottom: 1px solid #000;
	display:block;
	height:50px;	
	position:relative;

}

div#header h1 {
	/* display:inline;	*/
	font-size: 32px;
	

}
div#nav{
	background-color: #000;
	padding:5px;
}
div#nav li{
	list-style:none;
	display:inline-block;
	width:90px;
	color:white;
	vertical-align: middle;
	text-align: center;
}
div#nav a{
	text-decoration: none;
	color:white;
}
div#nav a:hover{
	color:white;
}
div#logo{
	position:relative;
	float:left;
	margin-left:20px;
	padding:8px 6px 2px;
	width: 200px;
	font-size:13px;
}
form#search input{
	/* border: solid 1px #039; */
}
div#searchBox 
{
	height:100%;
	text-align: center;
	margin: 0 auto;
	position:relative;
	width:500px;
	font-size:12px;
	background:#FFFFFF;
	
}
div#searchBox form
{
	margin:0 auto;
	position: absolute;
	bottom:8px;
	width:100%;
	
}
div#searchBox input#tags
{
	width:400px;
	height:25px;
	border:1px solid #BBB;
	outline:none;
	padding:2px;
}


div#searchBox input.searchSubmit{
	background-color: #FFF;
	background-image: url('../images/search.gif');
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 0px;
    margin-left: 5px;
}
/* login form */
iframe#login-frame{
		width:400px;
	height:300px;
}
div#login-box{
	background:#FFFFFF;
	position:relative;	
	top:100px;
	margin:0 auto;
	width:300px;
	height:200px;
	padding:30px;

}
div#login-box form{
	
}

div#login-box lable, div#register-box form label{
	line-height:30px;
	display:block;
}
div#login-box span{
	line-height:30px;
	display:block;
}
div#login-box input[type="submit"], input[type="reset"], div#register-box form  input[type="submit"] { 
	margin:10px 0px 20px;
	line-height:30px;
	display:block;
}
div#login-box  input[type="submit"]:hover, input[type="reset"]:hover { 

}

div.popup {
	border: solid 20px #ededed;
	padding:10px;
	margin:0 auto;
	box-shadow: 4px 4px 2px #666; /* CSS3 */
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;

}
iframe#register-frame{
		width:400px;
		height:300px;
}
div#register-box{
	background:#FFFFFF;
	position:relative;		
	top:200px;	
	width:400px;
	height:300px;
    margin:0 auto;
}
div#register-box  div#content form {
margin: 12px 0px 4px
}
div.lines
{
	clear:both;	
}
span.inline{
	with:auto;
	float:left;
	margin:0px 4px;
	padding: 0px 4px;
	line-height:30px;
}

div.popup a.closebutton {
    height: 21px;  
    position: absolute;
    right: 8px;
    top: 8px;
    width: 21px;
	background-image:url(../images/popup-close.png);
	
}
div.popup a.closebutton:hover {
    height: 21px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 21px;
	background-image:url(../images/popup-close.png);
	background-position:bottom;
}

/* colors */
span.blue {
	color:#039; /* BLUE  */
}

span.gold {
	color:#C90;  /* GOLD  */
}
/* login box   */

div#user-box {
	color: #003399;
	width: auto;
	position:absolute;/* relative to header container */
	float:right;
	margin-right:20px;
	padding:6px 6px 2px;
	right: 0;
	bottom:0;
}

div#user-box  input[type="submit"] {
	font-size:12px;	
}



/*********************/
/*  BODY & CONTENT  */

div#content
{
	padding: 10px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;	
}
table.sortable{
	padding: 0px;
	margin:0px;
	border-collapse:collapse;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
table.sortable td{
	border: solid 1px #ededed;
	padding: 8px;
	margin:0px;
	text-align:center;
}

table.sortable  tr.a0{
	background-color:#FFC;
}

table.sortable tr.a1{
}

td.courseid{
	width:30px;
	text-align:center;
}
td.courselink{
}
td.coursedesc{
	text-align:left;
}
td.profimage{
}
td.videolink{
}
td.site{
}

td.profimage img {
	max-height:200px;	
}
td.videolink img {
	max-height:200px;	 
}
/* FOOTER */

div#footer
{
	border-top: 1px solid #000;
}
