@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

/* *****************/
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;	
}
table.sortable{
	padding: 0px;
	margin:0px;
	border-collapse:collapse;
}
table.sortable td{
	border: solid 1px #ededed;
	padding: 8px;
	margin:0px;
	text-align:center;
}

table.sortable  tr.a0{
	background-color:#FFC;
}

table.sortable tr.a1{
}

td.courseid{
	width:30px;
	text-align:center;
}
td.courselink{
}
td.coursedesc{
	text-align:left;
}
td.profimage{
}
td.videolink{
}
td.site{
}
/* *****************/

div#header
{
	height: 100px;
	border-bottom: 1px solid #000;

}

div#content
{
	padding: 10px;
}

div#footer
{
	border-top: 1px solid #000;
}
